.containerStyle {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #fff;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.titleStyle {
    color: #333;
}

.addButtonStyle {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.searchContainerStyle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.searchStyle {
    width: 150px;
    padding: 8px;
    box-sizing: border-box;
    margin-right: 5px;
}

.searchIconStyle {
    color: #888;
    cursor: pointer;
}

.itemsPerPageContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemsPerPageLabel {
    margin-right: 5px;
    margin-bottom: 10px;
}

.itemsPerPageSelect {
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 20px; 
}